<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz</title>


		{% load static %}

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/profile.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/footer.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/navbar.css' %}">

		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/owl.carousel.min.css' %}">


		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/acceuille.css' %}">


		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/bootstrap.css' %}" />

		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/defi_actuel_questionnaire.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/defi precedent.css' %}" />

		<link rel="stylesheet" type="text/css" href="{% static 'anime/css/defi_avenir.css' %}" />

		<!--animation page de defi-->
		<script src="{% static 'anime/js/jquery-3.6.0.min.js' %}"></script>
		<script src="{% static 'anime/js/owl.carousel.min.js' %}"></script>


	</head>



	<body>
		{%  include 'anime/navbar.html' %}
		<div > <!--class="container-fluid"-->
		{% block content %}







		{% endblock %}
		</div>
		{%  include 'anime/footer.html' %}





		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




		<!-- jQuery -->
		<script src="{% static 'anime/js/jquery.js' %}"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'anime/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'anime/js/bootstrap.js' %}"></script>













	</body>
</html>

