{%extends 'anime/main.html'%}
{% load static %}
{% block content %}



<head>



</head>

<body>
	<div class="container">
        <div class="welcom alert alert-success"  role="alert">
			<center>
				<h2>Bienvenue dans le Défi de la semaine</h2>
			</center>

        </div>
    </div>



        <div class="titre_defi alert alert-success" role="alert">
			<center>
        		<h2>{{ titre.title }}</h2>
			</center>
        </div>



</body>




{% endblock %}



